[submodule "samithiwat-backend-user"]
	path = samithiwat-backend-user
	url = https://github.com/samithiwat/samithiwat-backend-user
[submodule "samithiwat-backend-organization"]
	path = samithiwat-backend-organization
	url = https://github.com/samithiwat/samithiwat-backend-organization.git
[submodule "samithiwat-backend-role"]
	path = samithiwat-backend-role
	url = https://github.com/samithiwat/samithiwat-backend-role.git
[submodule "samithiwat-backend-general"]
	path = samithiwat-backend-general
	url = https://github.com/samithiwat/samithiwat-backend-general.git
[submodule "samithiwat-backend-gateway"]
	path = samithiwat-backend-gateway
	url = https://github.com/samithiwat/samithiwat-backend-gateway.git
[submodule "samithiwat-backend-auth"]
	path = samithiwat-backend-auth
	url = https://github.com/samithiwat/samithiwat-backend-auth.git
