[submodule "samithiwat-backend"]
	path = samithiwat-backend
	url = https://github.com/samithiwat/samithiwat-backend
[submodule "samithiwat-backend-gateway"]
	path = samithiwat-backend-gateway
	url = https://github.com/samithiwat/samithiwat-backend-gateway.git
[submodule "samithiwat-backend-auth"]
	path = samithiwat-backend-auth
	url = https://github.com/samithiwat/samithiwat-backend-auth.git
